version: "2"
services:
  app:
    container_name: app
    restart: always
    build: .
    env_file: prod.env
    ports:
      - "80:3000"
    links:
      - mongo
  mongo:
    container_name: mongo
    image: mongo
    volumes:
      - ./data:/data/db
    ports:
      - "27017:27017"
