<section class="signup">
    <div class="subscribe-pitch">
            <h3>Free Trial</h3>
            <p>Sign up for an unlimited free trial of cronasaservice.com and get started running your online cron jobs straight away!</p><p>
        </p></div>
        <form action="https://www.cronasaservice.com/register" method="post" class="subscribe-form">
            <input type="email" name="email" class="subscribe-input" placeholder="Enter your work email address">
            <button type="submit" class="subscribe-submit">Subscribe</button>
        </form>
</section>