
@import 'theme/plugins.css';
@import 'theme/layout.css';
@import 'theme/light.css';

table.dataTable td{
    vertical-align: middle !important;
}

.response-graph-holder{
    position:relative;
    width:100%;
    height:100px;
}

canvas.response-chart{
    width:200px;
    max-height:100px;
}

td.nodata{
    text-align: center;
    margin-top: 50px;
    margin-bottom: -50px;
}

/*
Tour Tip
*/
.tour-tip {
  display: none;
  position: absolute;
  background: #1C252E;
  color: #FFF;
  z-index: 101;
  top: 0;
  left: 2.5%;
  font-family: inherit;
  font-weight: 400;
  max-width: 400px;
  border-radius: 10px;
}

.tour-tip p {
  color: #fff;
  font-size: 16px;
  line-height: 1.5em;
  margin: 0 0 1.125em;
  font-weight: 300;
}

.tour-tip .tour-next-tip{
    margin-bottom: 10px;
}

.tour-tip .tour-arrow {
  display: block;
  position: absolute;
  left: 22px;
  width: 0;
  height: 0;
  border: inset 14px;
}

.tour-tip .tour-arrow.tt-top {
  border-style: solid;
  bottom: -27px;
  border-color: #1c252e transparent transparent !important;
}

.tour-tip .tour-arrow.tt-bottom {
  border-style: solid;
  top: -28px;
  border-color: transparent transparent #1c252e !important;
}

.tour-tip .tour-arrow.tt-right {
  border-style: solid;
  left: -27px;
  top: 28px;
  border-color: transparent #1c252e transparent transparent !important;
}

.tour-tip .tour-arrow.tt-left {
  border-style: solid;
  left: 100%;
  top: 28px;
  border-color: transparent transparent transparent #1c252e !important;
}

.tour-tip .tour-content-wrapper {
  padding: 1.125em 1.25em 1.5em;
  min-width: 200px;
}

.tour-tip .tour-content-wrapper .button {
  margin-bottom: 0 !important;
}

.tour-tip .tour-close-tip {
  position: absolute;
  right: 12px;
  top: 10px;
    color: #fff;
  cursor: pointer;
}

.tour-tip .tour-close-tip:hover,
.tour-tip .tour-close-tip:focus {
  color: #eeeeee !important;
}

/*angular cron picker*/
.cron-select-wrap {
  display: inline-block;
}

.cron-select-wrap .cron-select {
  width: 150px;
  height: 34px;
  padding: 6px 12px;
  margin: 0;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
       -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.cron-select-wrap select[multiple] {
  height: 140px;
}

.select-options {
  display: inline-block;
}


/*
angular-chart.js
*/
.chart-legend,.bar-legend,.line-legend,.pie-legend,.radar-legend,.polararea-legend,.doughnut-legend{list-style-type:none;margin-top:5px;text-align:center}.chart-legend li,.bar-legend li,.line-legend li,.pie-legend li,.radar-legend li,.polararea-legend li,.doughnut-legend li{display:inline-block;white-space:nowrap;position:relative;margin-bottom:4px;border-radius:5px;padding:2px 8px 2px 28px;font-size:smaller;cursor:default}.chart-legend li span,.bar-legend li span,.line-legend li span,.pie-legend li span,.radar-legend li span,.polararea-legend li span,.doughnut-legend li span{display:block;position:absolute;left:0;top:0;width:20px;height:20px;border-radius:5px}