<main class="content" role="main">

    <article class="post"><!-- page? -->
        <%- partial("_shared/header") %>

        <!-- Everything below outputs content of the the page which has been published -->
        <% if(typeof(yield.split('<h1>'))==='undefined') { %>
          <h1 class="post-title"><%- yield.split("<h1>")[1].split("</h1>")[0] %></h1>
          <section class="post-content">
              <%- yield.split("</h1>")[1] %>
          </section>
        <% } else { %>
          <%- yield %>
        <% } %>

    </article>

</main>
