<div class="portlet light">
    <div class="portlet-title tabbable-line">
        <div class="caption caption-md">
            <i class="icon-credit-card"></i>
            <span class="caption-subject font-blue-madison bold uppercase">Manage Your Subscription Plan</span>
        </div>
    </div>
    <div class="portlet-body">
        <div class="row">
            <div class="col-sm-12">
                <h4>We like to keep our pricing simple. You can pay monthly, or you can pay yearly. That's really it!</h4>
                <br/>
            </div>
        </div>
        <div class="row margin-bottom-40">
            <!-- Pricing -->
            <div class="col-md-3">
                <div class="pricing hover-effect">
                    <div class="pricing-head">
                        <h3>Free
                            <span>Let's get to know each other...</span>
                        </h3>
                        <h4>
                            <i>FREE</i>
                            <span> As in beer </span>
                        </h4>
                    </div>
                    <ul class="pricing-content list-unstyled">
                        <li>
                            <i class="icon-check"></i> Unlimited free trial
                        </li>
                        <li>
                            <i class="icon-check"></i> 1 Job
                        </li>
                        <li>
                            <i class="icon-check"></i> 1 Alarm
                        </li>
                        <li>
                            <i class="icon-check"></i> Regular Support
                        </li>
                    </ul>
                    <div class="pricing-footer">
                        You are here
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="pricing hover-effect pricing-active">
                    <div class="pricing-head pricing-head-active">
                        <h3>
                            Pro
                            <span> Let's date... </span>
                        </h3>
                        <h4>
                            <i>{{currency_symbol}}{{price_month}}</i>
                            <span> Per Month </span>
                        </h4>
                    </div>
                    <ul class="pricing-content list-unstyled">
                        <li>
                            <i class="icon-check"></i>
                            <b>Unlimited</b> Jobs
                        </li>
                        <li>
                            <i class="icon-check"></i> Unlimited Alarms
                        </li>
                        <li>
                            <i class="icon-check"></i> Premium Support
                        </li>
                    </ul>
                    <div class="pricing-footer">
                        <p>
                            <i class="icon-lock"></i>
                            Paid monthly by credit card, plus a full refund if you aren't completely satified.
                        </p>
                        <button ng-click="upgrade('monthly')" class="btn yellow-crusta">
                            Sign Up
                            <i class="icon-ok m-icon-white"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="pricing hover-effect">
                    <div class="pricing-head">
                        <h3>
                            Pro Rata
                            <span> Let's commit to one another... </span>
                        </h3>
                        <h4>
                            <i>{{currency_symbol}}{{price_year}}</i>
                            <span> Per Year </span>
                        </h4>
                    </div>
                    <ul class="pricing-content list-unstyled">
                        <li>
                            <i class="icon-check"></i>
                            <b>Unlimited</b> Jobs
                        </li>
                        <li>
                            <i class="icon-check"></i> Unlimited Alarms
                        </li>
                        <li>
                            <i class="icon-check"></i> Premium Support
                        </li>
                        <li>
                            <i class="icon-tag"></i> A Tasty Discount
                        </li>
                    </ul>
                    <div class="pricing-footer">
                        <p>
                            <i class="icon-lock"></i>
                            Paid yearly by credit card. You'll get a full refund if you aren't completely satisfied.
                        </p>
                        <button ng-click="upgrade('yearly')" class="btn yellow-crusta">
                            Sign Up
                            <i class="icon-ok m-icon-white"></i>
                        </button>
                    </div>
                </div>
            </div>
            <!--//End Pricing -->
        </div>
        <div class="row">
            <div class="form-inline form-coupon">
                <div class="form-group">
                    <label for="coupon">Have a coupon? Enter it here.</label>
                    <input type="text" class="form-control" name="coupon" ng-model="coupon">
                    <span ng-if="coupon=='WELCOME10'">
                        <i class="icon-check"></i>
                        <button ng-click="upgrade('monthly')" class="btn yellow-crusta">
                            Pay Monthly
                        </button>
                        or
                        <button ng-click="upgrade('yearly')" class="btn yellow-crusta">
                            Pay Yearly
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- hidden upgrade plan form -->
<form id="plan-form" action="/upgrade" method="post" autocomplete="off" style="display:none;">
    <input type="hidden" name="token" value="" id="plan-token">
    <input type="hidden" name="plan" ng-value="upgrade_plan">
    <input type="hidden" name="coupon" ng-value="coupon">
</form>