<footer>
    <span class="pull-left">
        <a href="/cron-builder/">Cron Builder</a> |
        <a href="/blog">Our Blog</a> |
        <a class="page-scroll" href="/docs">Docs</a> |
        <a href="https://twitter.com/cronasaservice">
            <i class="icon-twitter"></i>
        </a> |
        <a href="https://github.com/drei01/cron-as-a-service">
            <i class="icon-github"></i>
        </a>
    </span>
    <span class="pull-right">&copy; Codefish Apps Ltd 2018. Registered in England 09341607 |
        <a href="/privacy">Privacy</a> |
        <a href="/terms">Terms</a>
    </span>
</footer>

<% if(!locals.hideNav) { %>
    <ul class="nav nav-bottom navbar-nav navbar-right visible-xs">
        <li>
            <a href="javascript:window.Metomic('ConsentManager:show')">manage cookies</a>
        </li>
        <li>
            <a class="page-scrol" href="/customers">Customers</a>
        </li>
        <li>
            <a class="page-scrol" href="/contact">Contact</a>
        </li>
        <li>
            <a href="https://cronasaservice.supstatus.com">Status</a>
        </li>
        <li>
            <a class="page-scroll" href="/docs">Docs</a>
        </li>
        <li>
            <a class="page-scroll" href="/login">Login</a>
        </li>
        </li>
    </ul>
    <% } %>

</div>


        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-54545127-1', 'auto');
            ga('send', 'pageview');

        </script>

        <script>
            !(function(p,r,i,v,a,c,y){p['MetomicObject']=a;p[a]=p[a]||function(){
            (p[a].q=p[a].q||[]).push(arguments)},p[a].l=1*new Date();c=r.createElement(i),
            y=r.getElementsByTagName(i)[0];c.async=1;c.src=v+'?d='+r.location.host;y.parentNode.insertBefore(c,y)
            })(window, document, 'script', 'https://consent-manager.metomic.io/embed.js', 'Metomic');
            Metomic('load', { projectId: 'prj:684936a3-08d5-427f-8278-159136ea7fb5' });
        </script>

        <script src="//cdn.ravenjs.com/1.1.19/jquery,native/raven.min.js"></script>
        <script>
            Raven.config('https://3c0011112cdf488cbcaaea6a9fbbb92d@app.getsentry.com/43811', {
                whitelistUrls: ['cronasaservice.com']
            }).install();
        </script>
    </body>

</html>