<% include layout/header %>

<body ng-app="CronAsAService" class="page-header-fixed page-sidebar-closed-hide-logo page-sidebar-closed-hide-logo">
<!-- BEGIN HEADER -->
<div class="page-header navbar navbar-fixed-top">
	<!-- BEGIN HEADER INNER -->
	<div class="page-header-inner">
		<!-- BEGIN LOGO -->
		<div class="page-logo">
			<a href="/home">
             <img src="images/logo.png" alt="Cron As A Service" width="50" class="logo-default"/>
             Cron As A Service
			</a>
		</div>
		<!-- END LOGO -->
		<!-- BEGIN PAGE TOP -->
		<div class="page-top">
			<!-- BEGIN TOP NAVIGATION MENU -->
			<div class="top-menu">
				<ul class="nav navbar-nav">
					<li>
                        <a href="#/jobs">
                        <i class="icon-home"></i>
                        <span class="title">Jobs</span>
                        </a>
                    </li>
                    <li>
                        <a href="#/contact">
                        <i class="icon-envelope-alt"></i>
                        <span class="title">Contact</span>
                        </a>
                    </li>
                    <li>
                        <a href="#/settings">
                        <i class="icon-cog"></i>
                        <span class="title">Settings</span>
                        </a>
                    </li>
				</ul>
			</div>
			<!-- END TOP NAVIGATION MENU -->
		</div>
		<!-- END PAGE TOP -->
	</div>
	<!-- END HEADER INNER -->
</div>
<!-- END HEADER -->
<div class="clearfix">
</div>
    
    <!-- BEGIN CONTAINER -->
<div class="page-container" ng-controller="JobController">
	<!-- BEGIN SIDEBAR -->
	<div class="page-sidebar-wrapper">
		<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
		<!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
        <tour step="currentStep" post-tour="postTour()">
            <div class="page-sidebar navbar-collapse collapse">
                <!-- BEGIN SIDEBAR MENU -->
                <ul class="page-sidebar-menu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                    <li class="start" ng-class="{active:location.path()==='/jobs'}" tourtip="Welcome to your cron home screen, your jobs appear here for easy management.<%if (user.features.indexOf('keepalive') > -1 ) { %> You'll see we've added your first job, woohoo! <% } %>" tourtip-placement="right" tourtip-offset="30" tourtip-next-label="Got it!" tourtip-step="0">
                        <a href="#/jobs">
                        <i class="icon-home"></i>
                        <span class="title">Jobs</span>
                        </a>
                    </li>
                    <li class="start">
                        <a href="/docs" target="_blank">
                        <i class="icon-file-text-alt"></i>
                        <span class="title">Documentation</span>
                        </a>
                    </li>
                    <li class="start" ng-class="{active:location.path()==='/contact'}">
                        <a href="#/contact">
                        <i class="icon-envelope-alt"></i>
                        <span class="title">Contact</span>
                        </a>
                    </li>
                    <li class="start" ng-class="{active:location.path()==='/settings'}" tourtip="You can find your API key here." tourtip-placement="right" tourtip-offset="30" tourtip-next-label="Enough of the pleasantries" tourtip-step="1">
                        <a href="#/settings">
                        <i class="icon-cog"></i>
                        <span class="title">Settings</span>
                        </a>
                    </li>
                    <li class="start" ng-show="plan === 'free'" ng-class="{active:location.path()==='/plan'}" >
                        <a href="#/plan">
                        <i class="icon-credit-card"></i>
                        <span class="title">Manage Plan</span>
                        </a>
                    </li>
                </ul>
                <!-- END SIDEBAR MENU -->
            </div>
        </tour>
	</div>
	<!-- END SIDEBAR -->
        <div class="page-content-wrapper">
            <div class="page-content">
                <div class="alert alert-info" role="alert" ng-show="plan === 'free' && location.path()!='/plan'">
                  <strong>Heads up!</strong> Your free trial expires soon. <a href="#/plan">Click here to upgrade</a> to a paid plan.
                </div>
                
                <%if (locals.errors) { %>
                    <div class="alert alert-danger" role="alert">
                      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                      <span class="sr-only">Error:</span>
                        <% errors.forEach(function(error){%>
                           <%= error.msg %>
                        <% }); %>
                    </div>
                <%} %>
                
                <%if (locals.messages) { %>
                    <div class="alert alert-success" role="alert">
                      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                      <span class="sr-only">Message:</span>
                        <% messages.forEach(function(messages){%>
                           <%= messages.msg %>
                        <% }); %>
                    </div>
                <%} %>
                
                <%- body %> 
            </div>
        </div>
    
    </div>
    
</body>

<% include layout/footer %>