
<div class="row">
    <div class="col-md-12">
        <div ng-view=""></div>
    </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.1/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.1/angular-route.js"></script>
<script src="/scripts/Chart.js"></script>
<script src="/scripts/angular-chart.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-moment/0.9.0/angular-moment.min.js"></script>

<%if (user.features.indexOf('tourcomplete') === -1 ) { %>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="/scripts/angular-tour-tpls.min.js"></script>
<% } %>

<script src="/scripts/home/app.js"></script>
<script>
    var apiKey = '<%=apikey%>';
    angular.module('CronAsAService.controllers', ['ngRoute','angularMoment','chart.js'<%if (user.features.indexOf('tourcomplete') === -1 ) { %>,'angular-tour'<% } %>])
               
</script>
<script src="/scripts/home/api-service.js"></script>
<script src="/scripts/home/job-controller.js"></script>
<script src="/scripts/home/contact-controller.js"></script>
<script src="/scripts/home/settings-controller.js"></script>

<!-- Templates -->
<div id="tour/tour.tpl.html" ng-include src="'/templates/tour.tpl.html'"></div>
<div id="templates/jobs.html" ng-include src="'/templates/jobs.html'"></div>
<div id="templates/newJob.html" ng-include src="'/templates/newJob.html'"></div>
<div id="templates/contact.html" ng-include src="'/templates/contact.html'"></div>
<div id="templates/settings.html" ng-include src="'templates/settings.html'"></div>