<style>
    .container-full{
        background-image: url(/images/<%- test.background %>);
    }
</style>
<div class="container-full">
	<div class="gradient"></div>
	
	<div class="row" itemscope itemtype="http://schema.org/Product">
		
		<div id="itemscope">
			<span itemprop="name">Cron As A Service</span>

			<div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
				<span itemprop="price">$9.99</span>
				<link itemprop="availability" href="http://schema.org/InStock" />In stock
			</div>
		</div>

		<div class="col-lg-12 text-center v-center">
			<h1>
				<a itemprop="url" href="/"><img src="images/logo.png" alt="Cron As A Service"></a>
			   	<span itemprop="description"><%- test.title %></span>
			</h1>
			
			<p class="lead">Sign up for your unlimited free trial. No Credit Card required.</p>

			<form action="//forms.brace.io/cronasaservice@gmail.com" method="post" class="col-lg-12">
				<div class="input-group" style="width:340px;text-align:center;margin:0 auto;">
					<input class="form-control input-lg" title="Don't worry. We hate spam, and will not share your email with anyone." placeholder="Enter your email address" type="email" name="_replyto">
					<input type="hidden" name="_next" value="http://www.cronasaservice.com/thanks" >
					<input type="hidden" name="_subject" value="Cron as a service submission">

				  <span class="input-group-btn"><button class="btn btn-lg btn-primary" type="submit">OK</button></span>
				</div>
			</form>
		</div>

	  </div> <!-- /row -->
	
	<div class="row">

		<div class="col-lg-12 text-center v-center example">
			<h3>
				Get started in 29 seconds
			</h3>
			<div class="terminal-window">
			  <header>
				<div class="button green"></div>
				<div class="button yellow"></div>
				<div class="button red"></div>
			  </header>
			  <section class="terminal">
				<div class="history"></div>
				$&nbsp;<span class="prompt"></span>
				<span class="typed-cursor"></span>

			  </section>
			</div>
			<!-- data -->
			<div class="terminal-data mimik-run-output">
			curl -d 'expression=0 * * * * *&url=http://myapp.com' http://cronasaservice.com/api/jobs 
			</div>
			<span>Be awesome and build your app. Let us worry about your <strong>cron</strong>.</span>
		</div>

	  </div>

	  <div class="row">

		<div class="col-lg-12 text-center v-center" style="font-size:39pt;">
			<a href="https://twitter.com/cronasaservice"><i class="icon-twitter"></i></a> 
			<a href="https://github.com/drei01/cron-as-a-service"><i class="icon-github"></i></a>
		</div>

	  </div>
	
	<footer class="pull-right">
		Online Cron - 2014 &copy; cronasaservice.com
	</footer>

</div> <!-- /container full -->
<script>
	(function(e,t){typeof module!="undefined"&&module.exports?module.exports=t():typeof define=="function"&&define.amd?define(t):this[e]=t()})("$script",function(){function p(e,t){for(var n=0,i=e.length;n<i;++n)if(!t(e[n]))return r;return 1}function d(e,t){p(e,function(e){return!t(e)})}function v(e,t,n){function g(e){return e.call?e():u[e]}function y(){if(!--h){u[o]=1,s&&s();for(var e in f)p(e.split("|"),g)&&!d(f[e],g)&&(f[e]=[])}}e=e[i]?e:[e];var r=t&&t.call,s=r?t:n,o=r?e.join(""):t,h=e.length;return setTimeout(function(){d(e,function t(e,n){if(e===null)return y();e=!n&&e.indexOf(".js")===-1&&!/^https?:\/\//.test(e)&&c?c+e+".js":e;if(l[e])return o&&(a[o]=1),l[e]==2?y():setTimeout(function(){t(e,!0)},0);l[e]=1,o&&(a[o]=1),m(e,y)})},0),v}function m(n,r){var i=e.createElement("script"),u;i.onload=i.onerror=i[o]=function(){if(i[s]&&!/^c|loade/.test(i[s])||u)return;i.onload=i[o]=null,u=1,l[n]=2,r()},i.async=1,i.src=h?n+(n.indexOf("?")===-1?"?":"&")+h:n,t.insertBefore(i,t.lastChild)}var e=document,t=e.getElementsByTagName("head")[0],n="string",r=!1,i="push",s="readyState",o="onreadystatechange",u={},a={},f={},l={},c,h;return v.get=m,v.order=function(e,t,n){(function r(i){i=e.shift(),e.length?v(i,r):v(i,t,n)})()},v.path=function(e){c=e},v.urlArgs=function(e){h=e},v.ready=function(e,t,n){e=e[i]?e:[e];var r=[];return!d(e,function(e){u[e]||r[i](e)})&&p(e,function(e){return u[e]})?t():!function(e){f[e]=f[e]||[],f[e][i](t),n&&n(r)}(e.join("|")),v},v.done=function(e){v([null],e)},v})
</script>
<script>
	$script('/scripts/jquery.min.js', function(){
		$script('/scripts/typed.custom.js', function(){
			$(function() {
			  var data = [
			  { 
				action: 'type',
				strings: ["curl -d 'expression=0 * * * * *&url=http://myapp.com' http://cronasaservice.com/api/jobs"],
				output: '<span class="gray">{"headers":null,\n\r"params":null,\n\r"method":"get",\n\r"url":"http://myapp.com",\n\r"expression":"0 * * * * *",\n\r"responses":[]}</span><br>&nbsp;',
				postDelay: 1000
			  }

			];
			  runScripts(data, 0);
			});

			function runScripts(data, pos) {
				var prompt = $('.prompt'),
					script = data[pos];
				if(script.clear === true) {
				  $('.history').html(''); 
				}
				switch(script.action) {
					case 'type':
					  // cleanup for next execution
					  prompt.removeData();
					  $('.typed-cursor').text('');
					  prompt.typed({
						strings: script.strings,
						typeSpeed: 30,
						callback: function() {
						  var history = $('.history').html();
						  history = history ? [history] : [];
						  history.push('$ ' + prompt.text());
						  if(script.output) {
							history.push(script.output);
							prompt.html('');
							$('.history').html(history.join('<br>'));
						  }
						  // scroll to bottom of screen
						  $('section.terminal').scrollTop($('section.terminal').height());
						  // Run next script
						  pos++;
						  if(pos < data.length) {
							setTimeout(function() {
							  runScripts(data, pos);
							}, script.postDelay || 1000);
						  }
						}
					  });
					  break;
					case 'view':

					  break;
				}
			}
		});
	});
</script>