<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>cron-as-a-service</title>
    <link rel="stylesheet" href="<%= route %>/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="<%= route %>/stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
  </head>
  <body>
    <div class="container">
      <section>
        <%- body %>
      </section>
    </div>
    <script>
    </script>
  </body>
</html>