<% include layout/header %>

    <body>



        <div class="wrapper">
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div>
                        <% if(locals.logo && logo==true) { %>
                            <a class="brand navbar-left" href="/">
                                <img src="/images/logo.png" alt="Cron As A Service" width="50">
                            </a>
                            <% } %>

                                <% if(!locals.hideNav) { %>
                                    <ul class="nav navbar-nav navbar-right hidden-xs">
                                        <li class="hidden active">
                                            <a href="#page-top"></a>
                                        </li>
                                        <li>
                                            <a class="page-scrol" href="/customers">Customers</a>
                                        </li>
                                        <li>
                                            <a class="page-scrol" href="/contact">Contact</a>
                                        </li>
                                        <li>
                                            <a class="page-scroll" href="/docs">API Docs</a>
                                        </li>
                                        <li>
                                            <a class="page-scroll" href="/pricing">Pricing</a>
                                        </li>
                                        <li>
                                            <a class="page-scroll" href="/login">Login</a>
                                        </li>
                                        </li>
                                    </ul>
                                    <% } %>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
            </nav>
            <%- body %>


                <% include layout/footer %>