<div class="container">
    <div class="col-lg-12 text-center v-center hidden-xs hidden-sm">
        <h1>
            <img src="images/logo.png" alt="Cron As A Service">
            <span itemprop="description">Cron As A Service</span>
        </h1>
    </div>

    <form class="form-signin" role="form" action="/login" method="post">
        <h2 class="form-signin-heading">Please sign in</h2>
        <%if (message.length > 0) { %>
            <div class="alert alert-danger" role="alert"><%- message %></div>
        <% } %>
        <input type="email" class="form-control" placeholder="Email address" name="username" required="" autofocus="">
        <input type="text" class="form-control" placeholder="API Key" name="password" required="" autocomplete="off">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>

</div>