<div class="container">
	<div class="row">

		<div class="col-lg-12 v-center">
			<div class="portlet-body">
				<div class="row center">
					<div class="col-sm-12">
						<h4>We like to keep our pricing simple. You can pay monthly, or you can pay yearly. That's really it!</h4>
						<br/>
					</div>
				</div>
				<div class="row margin-bottom-40">
					<!-- Pricing -->
					<div class="col-md-3 col-md-offset-1">
						<div class="pricing hover-effect">
							<div class="pricing-head">
								<h3>Free
									<span>Let's get to know each other...</span>
								</h3>
								<h4>
									<i>FREE</i>
									<span> As in beer </span>
								</h4>
							</div>
							<ul class="pricing-content list-unstyled">
								<li>
									<i class="icon-check"></i> Unlimited free trial
								</li>
								<li>
									<i class="icon-check"></i> 1 Job
								</li>
								<li>
									<i class="icon-check"></i> 1 Alarm
								</li>
								<li>
									<i class="icon-check"></i> Regular Support
								</li>
							</ul>
							<div class="pricing-footer">
								<a href="/" class="btn yellow-crusta">
									Free Trial
									<i class="icon-ok m-icon-white"></i>
								</a>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="pricing hover-effect">
							<div class="pricing-head">
								<h3>
									Pro
									<span> Let's date... </span>
								</h3>
								<h4>
									<i>
										<%= __("currency_symbol") %>
											<%= __("price_month") %>
									</i>
									<span> Per Month </span>
								</h4>
							</div>
							<ul class="pricing-content list-unstyled">
								<li>
									<i class="icon-check"></i>
									<b>Unlimited</b> Jobs
								</li>
								<li>
									<i class="icon-check"></i> Unlimited Alarms
								</li>
								<li>
									<i class="icon-check"></i> Premium Support
								</li>
							</ul>
							<div class="pricing-footer">
								<p>
									<i class="icon-lock"></i>
									Paid monthly by credit card, plus a full refund if you aren't completely satified.
								</p>
								<a href="/" class="btn yellow-crusta">
									Sign Up
									<i class="icon-ok m-icon-white"></i>
								</a>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="pricing hover-effect pricing-active">
							<div class="pricing-head pricing-head-active">
								<h3>
									Pro Rata
									<span> Let's commit to one another... </span>
								</h3>
								<h4>
									<i>
										<%= __("currency_symbol") %>
											<%= __("price_year_per_month") %>
									</i>
									<span> Per Month (Paying Yearly) </span>
								</h4>
							</div>
							<ul class="pricing-content list-unstyled">
								<li>
									<i class="icon-check"></i>
									<b>Unlimited</b> Jobs
								</li>
								<li>
									<i class="icon-check"></i> Unlimited Alarms
								</li>
								<li>
									<i class="icon-check"></i> Premium Support
								</li>
								<li>
									<i class="icon-tag"></i> A Tasty Discount
								</li>
							</ul>
							<div class="pricing-footer">
								<p>
									<i class="icon-lock"></i>
									Paid yearly by credit card. You'll get a full refund if you aren't completely satisfied.
								</p>
								<a href="/" class="btn yellow-crusta">
									Sign Up
									<i class="icon-ok m-icon-white"></i>
								</a>
							</div>
						</div>
					</div>
					<!--//End Pricing -->
				</div>
			</div>
		</div>
	</div>
</div>