<div class="container">
    <div class="col-lg-12 text-center v-center hidden-xs hidden-sm">
        <h1>
            <img src="/images/logo.png" alt="Cron As A Service">
        </h1>
    </div>
</div>

<div class="login">
    <div class="content">
        <!-- BEGIN LOGIN FORM -->
        <form class="login-form" action="/reset/<%- token %>" method="post">
            <h3 class="form-title">Reset Password</h3>
            <%if (messages.error.length>0) { %>
                <div class="alert alert-danger">
                    <button class="close" data-close="alert"></button>
                    <span><%- messages.error %></span>
                </div>
            <% } %>
            <%if (messages.info.length>0) { %>
                <div class="alert alert-info">
                    <button class="close" data-close="alert"></button>
                    <span><%- messages.info %></span>
                </div>
            <% } %>
            <%if (messages.success.length>0) { %>
                <div class="alert alert-success">
                    <button class="close" data-close="alert"></button>
                    <span><%- messages.info %></span>
                </div>
            <% } %>
            <div class="form-group">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <label class="control-label visible-ie8 visible-ie9">New Password</label>
                <div class="input-icon">
                    <i class="icon-lock"></i>
                    <input class="form-control placeholder-no-fix" type="password" class="form-control" placeholder="New Pasword" name="password" required="" autofocus="autofocus">
                </div>
            </div>
            <div class="form-group">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <label class="control-label visible-ie8 visible-ie9">Confirm new Password</label>
                <div class="input-icon">
                    <i class="icon-lock"></i>
                    <input class="form-control placeholder-no-fix" type="password" class="form-control" placeholder="Confirm New Pasword" name="confirm" required="" autofocus="autofocus">
                </div>
            </div>
            <div class="form-actions">
                <label class="checkbox"></label>
                <button type="submit" class="btn green-haze pull-right">
                Update Password <i class="icon-circle-arrow-right"></i>
                </button>
            </div>
        </form>
        <!-- END LOGIN FORM -->
    </div>
</div>