<div class="container content">
    <div class="row">
        <div class="col-md-12">
            <h1>Terms</h1>
<p class="uppercase">
                Please read these Terms of Service carefully, as they contain the legal terms and conditions that govern your use, subscription and access of the Service.
            </p>
            <p>
                This Agreement (the &ldquo;Agreement&rdquo; or &ldquo;TOS&rdquo;) is between cronasaservice.com and the Customer as applicable.  You are the &ldquo;Customer&rdquo; under this Agreement if you by clicking or tapping on a button indicating your acceptance of this Agreement, by executing a document that references this Agreement, or by using the Services. If you are an organization, the individual who agrees to this Agreement on your behalf must have the authority to bind you to this Agreement.
            </p>

            <ol class="tos-list">
                <li>Services
                    <ol>
                        <li><span><strong>Availability.</strong> The cronasaservice.com Services is provided &ldquo;as is&rdquo; and &ldquo;as available&rdquo;.</span></li>
                        <li><span><strong>Support Services.</strong> cronasaservice.com may need to access your account in order to deliver support and customer services.</span></li>
                        <li><span><strong>Changes to Services.</strong> cronasaservice.com continually changes and improves the Services. The Customer’s use of any new features and functionality added to the Services may be subject to additional or different terms relating to such new features and functionality. cronasaservice.com may alter or remove functionality from the Services at any time without prior notice. cronasaservice.com will inform the Customer of any additional or different terms as set out in Section 7.1.</span></li>
                        <li><span><strong>Suspension of Services.</strong> cronasaservice.com may limit or suspend the Services from time to time at our discretion (for example, to perform scheduled maintenance). If cronasaservice.com limits or suspends the Services, we will endeavor to give the Customer reasonable advance notice so that the Customer can plan around it. However, there may be some situations, such as security emergencies, where it may not be practicable for cronasaservice.com to give advance notice. cronasaservice.com will use commercially reasonable efforts to narrow the scope and duration of the suspension or limitation as is needed to resolve the issue that prompted such action.</span></li>
                        <li><span><strong>Third Party Services.</strong> If the Customer uses any third party service with the Services (including services which use any application programming interface (API) provided by cronasaservice.com), the Customer acknowledges that the service may access or use the customer’s information. cronasaservice.com will not be responsible for any act or omission of the third party, including such third party’s use of the customer’s information. cronasaservice.com does not warrant or support any such third party service, and the Customer should contact that third party for any issues arising from the Customer’s use of the third party service.</span></li>
                    </ol>
                </li>
                <li>Customer obligations
                    <ol>
                        <li><span><strong>Valid contact information.</strong> You must provide a valid email address for your account.</span></li>
                        <li><span><strong>Accounts.</strong> Only one free account per person or legal entity is allowed.</span></li>
                        <li><span><strong>Illegal activity.</strong> The customer is responsible to ensure that the Service is not used for any illegal or abusive purposes.</span></li>
                        <li><span><strong>Account Security.</strong> The Customer is responsible for maintaining the confidentiality of passwords and any other credentials used to access its Accounts.</span>
                            <ol>
                                <li><span>The Customer will use commercially reasonable efforts to prevent unauthorized use of the Services and will terminate any unauthorized use of which it becomes aware.</span></li>
                                <li><span>The Customer, and not cronasaservice.com, is responsible for any activity occurring in its Accounts (other than cronasaservice.com’s direct activity which is not performed in accordance with the Customer’s instructions), whether or not authorized.</span></li>
                                <li><span>The Customer will notify cronasaservice.com promptly if the Customer becomes aware of any unauthorized access or any other breach of security to its accounts.</span></li>
                            </ol>
                        </li>
                        <li><span><strong>Privacy.</strong> The Customer consents to the transfer, processing, and storage of information on the Customer and its employees including any personal data (&ldquo;Customer Information&rdquo;) in accordance with this Agreement, including cronasaservice.com’s &ldquo;privacy policies&rdquo;. The Customer agrees with cronasaservice.coms’s privacy policies (https://www.cronasaservice.com.com/privacy).</span></li>
                        <li><span><strong>Backups.</strong> The Customer is responsible for maintaining, protecting, and making backups of all information directly and indirectly processed by the Customer using the Services (&rdquo;Customer Data&rdquo;) the Customer Data. cronasaservice.com will not be liable for any failure to store, or for loss or corruption of, the Customer Data or content in an Account.</span></li>
                        <li><span><strong>Exploit.</strong> You agree not to reproduce, duplicate, copy, sell, resell or exploit any portion of the Service, use of the Service, or access to the Service without the express written permission by cronasaservice.com.</span></li>
                    </ol>
                </li>
                <li>Payment and Billing
                    <ol>
                        <li><span><strong>Customer information.</strong> You must provide cronasaservice.com with accurate customer and billing information and keep this information up to date.</span></li>
                        <li><span><strong>Billing.</strong> By subscribing to the Service the customer give cronasaservice.com the right to charge the submitted credit card, or bill the customer via other payment methods, for fees connected with the Service such as renewal fees or fees for extra services.</span></li>
                        <li><span><strong>Billing cycle.</strong> The cronasaservice.com Service is a subscription service. You pay in advance for each billing cycle on the first day of that cycle.</span></li>
                        <li><span><strong>Change billing cycle.</strong> You can at any time change between different billing cycles. The new billing cycle length takes effect after the expiration of the current cycle (i.e. at the next renewal date).</span></li>
                        <li><span><strong>Renewal.</strong> Your cronasaservice.com account will be renewed automatically until you cancel the Service.</span></li>
                        <li><span><strong>Extra service fees.</strong> The Customer is responsible for all charges incurred related to your cronasaservice.com account, including any applicable taxes or extra service fees.</span></li>
                        <li><span><strong>Trial period.</strong> The first 30 days of a new, paid account are free of charge and act as a free trial period. Unless you cancel your paid account or change it to a free account before the billing is processed on the 30th day after signup you will be billed for the first billing cycle (the one you chose when signing up).</span></li>
                        <li><span><strong>Price Changes.</strong> cronasaservice.com may change the fees charged for the Services at any time, provided that, for any fees billed on a subscription basis, the change will become effective only at the end of the then-current billing cycle of the Customer’s subscription. cronasaservice.com will provide the Customer with reasonable prior written notice of any change in fees to give the Customer an opportunity to cancel auto-renewal on the Customer’s subscription before the change becomes effective.</span></li>
                    </ol>
                </li>
                <li>Upgrading and Downgrading of Accounts
                    <ol>
                        <li><span><strong>Changing account type.</strong> You can at any time upgrade or downgrade to a different cronasaservice.com account type inside the cronasaservice.com control panel. The change to your account type will take effect immediately and apply to all future invoices. This will not apply to customers with an Enterprise account.</span></li>
                        <li><span><strong>Billing procedure for upgrade.</strong> After an upgrade you will be billed right away for the remaining time until the next renewal (the amount will be reduced with what you have already paid).</span></li>
                        <li><span><strong>Billing procedure for downgrade.</strong> After a downgrade you will be billed at the next renewal date.</span></li>
                    </ol>
                </li>
                <li>Cancellation and Termination of Service
                    <ol>
                        <li><span><strong>Cancellation.</strong> You may at any time cancel your cronasaservice.com account inside the cronasaservice.com control panel provided that any past invoices have been paid. cronasaservice.com does not accept cancellations via email or phone. cronasaservice.com reserves the right to discontinue the Service at any time after a 30-day notice via email.</span></li>
                        <li><span><strong>Termination.</strong> In case of any breach of the Agreement by the Customer (including any late or non payment), cronasaservice.com may terminate this Agreement with immediate effect without any liability to the Customer.</span></li>
                    </ol>
                </li>
                <li>API Usage
                    <ol>
                        <li><span><strong>Availability.</strong> The cronasaservice.com API is provided &ldquo;as is&rdquo; and &ldquo;as available&rdquo;.</span></li>
                        <li><span><strong>Throttling.</strong> cronasaservice.com reserves the right to limit the amount of allowed requests to the API (throttling).</span></li>
                        <li><span><strong>Blocking.</strong> cronasaservice.com reserves the right to block the use of the API entirely for specific accounts or IP addresses if they are deemed by cronasaservice.com to be using the API in an illegal, abusive or otherwise excessive manner.</span></li>
                    </ol>
                </li>
                <li>Changes to Terms of Service
                    <ol>
                        <li><span><strong>Changes to TOS.</strong> Occasionally we may, in our sole discretion, make changes to these Terms of Service. We announce important changes to our TOS upon logging in to your cronasaservice.com account. The current TOS are always available in my.cronasaservice.com and at cronasaservice.coms webpage https://www.cronasaservice.com.com/terms. By continuing to use the Service after those changes are made, you are expressing and acknowledging your acceptance of the changes.</span></li>
                    </ol>
                </li>
                <li>Use of Customer’s Name and Company Name
                    <ol>
                        <li><span><strong>Use of customer name.</strong> cronasaservice.com reserves the right to use your name and/or company name as a reference for marketing or promotional purposes on the cronasaservice.com.com website and other communication with existing or potential cronasaservice.com customers. To decline cronasaservice.com this right you need to email support@cronasaservice.com.com stating that you do not wish to be used as a reference.</span></li>
                    </ol>
                </li>
                <li>Intellectual Property
                    <ol>
                        <li><span><strong>Ownership and Rights.</strong> As between the parties, the Customer retains ownership of all intellectual property rights in the Customer Data and its trademarks etc, and cronasaservice.com retains ownership of all intellectual property rights in the Services.</span></li>
                        <li><span><strong>Brand and Trademark.</strong> Except as permitted by cronasaservice.com’s brand and trademark use policies, this Agreement does not grant the Customer any right to use cronasaservice.com’s trademarks or other brand elements.</span></li>
                    </ol>
                </li>
                <li>Information Rights and Publicity
                    <ol>
                        <li><span><strong>Processing and Statistics.</strong> cronasaservice.com reserves the right to process and aggregate data for analysis and statistics.</span></li>
                        <li><span><strong>Publication.</strong> cronasaservice.com will not publish or use identifiable customer data in marketing or any other public purpose without explicit consent from the customer.</span></li>
                        <li><span><strong>Sharing of data.</strong> cronasaservice.com will not share any Customer Information with any third parties unless cronasaservice.com:</span>
                            <ol>
                                <li><span>has Your consent for any Customer Information or any third party's consent for the third party's Customer Information;</span></li>
                                <li><span>concludes that it is required by law or has a good faith belief that access, preservation or disclosure of Customer Information is reasonably necessary to protect the rights, property or safety of cronasaservice.com, its users or the public; or</span></li>
                                <li><span>provides Customer Information in certain limited circumstances to third parties to carry out tasks on cronasaservice.com's behalf (e.g., billing or data storage) with strict restrictions that prevent the data from being used or shared except as directed by cronasaservice.com.</span></li>
                            </ol>
                        </li>
                        <li><span><strong>Processing of personal data.</strong> When providing the Services, cronasaservice.com shall, and shall procure that its subcontractors shall:</span>
                            <ol>
                                <li><span>at all times take appropriate technical and organizational measures against unauthorized or unlawful processing of personal data; and</span></li>
                                <li><span>shall not transfer any personal data without appropriate consent and clearance and</span></li>
                                <li><span>only process the personal data in accordance with the instructions given by the party responsible for the personal data.</span></li>
                            </ol>
                        </li>
                    </ol>
                </li>
            </ol>
        </div>
    </div>
</div>